$cat-font-path: '../../dist/static/js/assets/fonts';
@import "@haiilo/catalyst/dist/catalyst/scss";
html {
  background-color: black;
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
}

div {
  background: darkgray;
  padding: 1rem;
}

span {
  padding: 1rem;
  background: #fff;
  font-size: .875rem;
  text-align: center;
}


.profile-image {
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
}
.edit-navigation {
  position: absolute;
  top: 3rem;
  right: 0;
}
.post-content {
  max-height: 10rem;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.post-content.expanded {
  max-height: none; /* Remove height limit when expanded */
}

.post-image {
  max-width: 100%;
  height: auto;
  display: block;
}


// modal

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  width: 60%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.cat-scrollable {
  max-height: 60rem;
  width: 30rem;
  min-width: 20rem;
  overflow: hidden; // Hide overflow initially
  &.expanded {
    overflow: auto; // Allow scrolling when expanded
  }
}


.read-more {
  color: #007bff;
  text-decoration: underline;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  cursor: pointer;
  font-size: 8px;
}


.read-more-link:hover {
  background-color: #e9ecef; /* Slightly darker shade on hover */
}

.is-modal-open {
  overflow: hidden;
}